# Qwen API Key（从阿里云获取）
# 获取地址：https://dashscope.console.aliyun.com/
QWEN_API_KEY=sk-your-qwen-api-key-here

# Qwen 模型名称（可选 qwen-max, qwen-plus, qwen-turbo）
QWEN_MODEL=qwen-max

#  Gateway 合约地址
NEXT_PUBLIC_ZETACHAIN_GATEWAY=your_contract

